button {
	cursor: pointer;
}

button.Unfollow {
	color: red;
}

.link {
	cursor: pointer;
	text-decoration: underline;
}

#users-list {
	width: max-content;
	margin: 0 auto;
}

#users-list .user-row {
	padding: 10px;
	max-width: 600px;
	transition: background-color .2s ease-out;
}

#users-list .user-row:hover {
	background-color: #d5db62;
	color: #fff;
}

#users-list span {
	display: inline-block;
	margin-right: 10px;
}

#users-list span.title {
	font-weight: 700;
	text-decoration: underline;
}

#users-list .user-name,
#users-list .user-group {
	width: 150px;
}

#users-list .user-followers {
	width: 100px;
}

.sep {
	height: 30px;
}